body {
   background: rgb(14,107,95);
background: linear-gradient(90deg, rgba(14,107,95,0.927608543417367) 100%, rgba(1,213,196,1) 100%);
}

.container {
    max-width: 600px;
}

/* Changed text and color for better UI which wasnt clearly visible*/
.form-control::placeholder{
    color: gainsboro;
}


input[type=text],
input[type=text]:focus {
    color: white;
    border: none;
    background: rgba(0, 0, 0, 0.3);
    max-width: 800px;
}

.todos li {
    background: #408b8b;
}

.delete {
    cursor: pointer;
}

.filtered {
    display: none !important;
}

.checkbox .selected {
    font-weight: bold;
}

