body{
    background: #F78181;
}
.container{
    max-width: 400px;
}
input[type=text],
input[type=text]:focus{
    color: #DF013A;
    border: none;
    background: rgba(0, 0,0, 0.2);
    max-width: 400px;
}
.todos li{
    background: #A9BCF5;
}
.delete{
    cursor: pointer;
}
.filtered{
    display: none !important;
}
