body{
    background: Green;
}
.container{
    max-width: 600px;
}
input[type=text],
input[type=text]:focus{
    color: black;
    border: none;
    background: rgba(0, 0,0, 0.3);
    max-width: 800px;
}
.todos li{
    background: #408b8b;
}
.delete{
    cursor: pointer;
}
.filtered{
    display: none !important;
}
